@import '/.header.css';
@import './section.css';
@import './box.css';


body {
  font-family: Arial;
  box-sizing: border-box;
  margin: 1%;
}




/* h2 {
  font-family: Arial;
  border-width: 1px;
  border-style: solid;
  border-color: #66554;
  padding: 3%;
  text-align: left
} */
/* b {
  font-size: 16;
} */